body {
  font-family: "Georgia", "Times New Roman", serif;	/* fallback fonts */
  color: #252629;		/* Dark gray */
  background-color: #ffffff;	/* Light gray */
  font-size: 1em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;	/* fallback fonts */
  font-weight: normal;					/* boldness */
  font-style: normal;					/* italics */
  background-color: #F6F6F6;    /* Light gray */
  display: block;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 0 10px 0 10px;	/* Top Right Bottom Left */
}

header {
  font-family: "Helvetica", "Arial", sans-serif;	/* fallback fonts */
  /* position: fixed; */
  background-color: #F6F6F6;
  margin: 0;
  padding: 50px 10px 0 10px;	/* Top Right Bottom Left */
  border-bottom: 10px ridge #5d6063;	/* Size Style Color (gray) */
  display: flex;
}

section {
  padding: 0px 10px;	/* Vertical Horizontal */
  margin: 0.83em 8px;	 /* Vertical Horizontal */
  background-color: #F6F6F6;    /* Light gray */
  border: 2px solid #F6F6F6;	/* Size Style Color (gray) */
  border-radius: 12px;
}

section h2 {
  font-size: 1.5em;
  background-color: #F6F6F6;    /* Light gray */
  /* padding: 20px 10px;	/* Vertical Horizontal */
  border-bottom: 2px solid #252629;	/* Size Style Color (gray) */
}

h3 {
  font-size: 1em;
}

aside {
  position: relative;
  padding: 0px 10px;	/* Vertical Horizontal */
  margin-left: auto;
  margin-right: auto;
  float: left;
  overflow: auto;
}

aside section {
  padding: 0px 10px;
  /*margin: 10px 0;*/
  margin: 0;
  background-color: #ffffff;
  border: 5px ridge #5d6062;
  border-radius: 12px;
  /*color: #dde0e2;*/
}

/*aside section a {
  color: #8a8aff;
}*/

#research_qs {
  font-size: 1em;
  list-style-type: circle;
  position: relative;
  display: flex;
  flex-direction: column;
}

header ul {
  padding: 1.2em 0 0 50px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-left: auto;
  margin-right: 0px;
}

header ul li {
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #F6F6F6;
  display: inline;
  list-style-type: none;
}

/*li {
  margin-bottom: 10px;
}*/

img {
  display: block;
  border: 1px solid #252629;	/* Size Style Color (gray) */
}

a {
  color: #0000FF;		/* Blue */
  text-decoration: none;	/* no underline */
}

p {
  text-align: left;
  margin-bottom: 20px;
  display: block;
}
