main {
  max-width: 900;
  margin: auto;
}

body {
  font-family: "Georgia", "Times New Roman", serif;	/* fallback fonts */
  color: #404040; /*#2c2c2e;		/* Dark gray */
  background-color: #fbfbfb;	/* Light gray */
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;	/* fallback fonts */
  font-weight: normal;					/* boldness */
  font-style: normal;					/* italics */
  color: #2c2c2c;
  /*background-color: #FFFFFF;    /* white */
  display: block;
}

h1 {
  font-size: 2.5em;
  /*color: #2c2c2e; */
  padding: 10px 0 0 0;	/* Top Right Bottom Left */
  margin-block-start: 0.83em;
  margin-block-end: 0.2em;
}

table .date {width: 150;}

@media only screen and (max-device-width: 480px) {
    table .date {width: 200;}
    table td {
        font-size: 1.2em;
    }
}

table td {
    padding: 5px 5px 5px 0;
    vertical-align: top;
    font-size: 1.1em;
}

header {
  font-family: "Helvetica", "Arial", sans-serif;	/* fallback fonts */
  /* position: fixed; */
  background-color: #d7d0de;
  /* margin: 0 0 30px 0; */
  margin: 0;
  padding: 50px 10px 0 10px;	/* Top Right Bottom Left */
  border-bottom: 10px ridge #9a9ca3;	/* Size Style Color (gray) */
  /* filter: drop-shadow(0 0 0.75rem lightblue); */
  display: flex;
}

.margin {
    float: right;
    width: 200px;
    margin-right: -250px;
    border-radius: 5px;
}

section {
  padding: 5px 50px;	/* Vertical Horizontal */
  margin: 0.83em 8px;	 /* Vertical Horizontal */
  /*background-color: #EAE7DC;    /* Light gray */
  /*border: 2px solid #EAE7DC;	/* Size Style Color (gray) */
  border-radius: 12px;
}

section h2 {
  font-size: 1.5em;
  /*background-color: #FFFFFF;    /* Light gray */
  /*padding: 20px 0;	/* Vertical Horizontal */
  /*font-weight: bold;*/
  margin: 20px 0;
  border-bottom: 2px solid #ccc;	/* Size Style Color (gray) */
}

h3 {
  font-size: 1em;
}

#research_qs {
  font-size: 1em;
  list-style-type: circle;
  position: relative;
  display: flex;
  flex-direction: column;
}

header ul {
  padding: 1.2em 0 0 50px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-left: auto;
  margin-right: 0px;
}

header ul li {
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  display: inline;
  list-style-type: none;
}

/*li {
  margin-bottom: 10px;
}*/

img {
  display: block;
  border: 1px solid #ddd;	/* Size Style Color (gray) */
}

a {
  color: #1084ff;		/* Blue */
  text-decoration: none;	/* no underline */
}

p {
  text-align: left;
  margin-bottom: 20px;
  display: block;
}
